@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;600;700;800&family=Oswald:wght@200;300;500;600;700&display=swap');


body {
    background-color:#DDE1D4;
    padding:15px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100vh;
    margin:0 auto;
}
#grid {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
}
.header {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F74504;
    background-color: #D9E7DE;
    grid-column: span 2;
    grid-row: span 2;
}
.content {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #008A69;
    grid-column: span 2;
    grid-row: span 2;
}
.nav {
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #F44508;
    grid-column: span 2;
    grid-row: span 2;
}
.footer {
    font-size: 15px;
    font-weight: 800;
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.footer_one {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F74504;
    background-color: #F7ACC4;
    grid-column: span 2;
    grid-row: span 2;
}
.footer_two {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #5F5FA9;
    grid-column: span 2;
    grid-row: span 2;
}
.footer_three {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F74504;
    background-color: #FEC027;
    grid-column: span 2;
    grid-row: span 2;
}
.footer_four {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #F87374;
    grid-column: span 2;
    grid-row: span 2;
}