.main__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 10px;
    writing-mode:vertical-rl;
    text-orientation:sideways-right;
}
.main__title:first-child {
    background-color: #dc00dd;
    font-size: 25px;
}
.main__title:last-child {
    background-color: #1900ff;
    transform: rotate(180deg);
    font-size: 30px;
}
main img {
    position: absolute;
    width: 30px;
    height: 30px;
}