@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "header.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: black;
}
#screen {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px;
  width: 700px;
  height: 500px;
}
.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 160px);
}
.li_transform{
    transform: rotateY(deg);
}
.main_box:first-child {
    color: white;
    background-color: black;
    font-size: 25px;
    grid-column: 1 / 2;

}
span {
    display: inline-block;
    transform: rotate(180deg);
}
.main_box:nth-child(2) {
    background-color: red;
    font-size: 20px;
    grid-row: 2/ 2;
}
.main_box:nth-child(3) {
    background-color: red;
    grid-row: 3 / 3;
}
.main_box:nth-child(4) {
    background-color: #6f02ff;
    grid-column: 3 / 2;
}
.main_box:nth-child(5) {
    background-color: orange;
    padding: 10px;
    font-size: 20px;
    grid-row: 3 / 3;
}
.main_box:nth-child(6) {
    grid-column: 3 / 3;
    grid-row: 1 / 4;
}
.main_box:nth-child(7) {
    background-color: pink;
    grid-column: 4 / 4;
    grid-row: 1 / 4;
}

h1 {
    font-size: x-small;
    margin: 5px 10px;
}
.person {
    margin: 13px 10px;
    font-size: 14px;
    line-height: 18px;
}
.li_person {
    background-color: #6f02ff;
    width: 112px;
}
